<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdk2uWGOcL05Qjr3V4R8gPf3eHgTPTyEg</string>
	<key>GCM_SENDER_ID</key>
	<string>1035582469731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TrThTrCo.op.Foto</string>
	<key>PROJECT_ID</key>
	<string>foto-techmaster</string>
	<key>STORAGE_BUCKET</key>
	<string>foto-techmaster.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035582469731:ios:7817e8246ae7ca11206a56</string>
	<key>DATABASE_URL</key>
	<string>https://foto-techmaster-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>